/*Simple background for the page*/
body {
  background: rgba(175, 218, 255, 0.37);
}

/*Main contianer for the page*/

/*For small screens*/
/*1 column with header, nav, main, and footer as rows*/
.container{
  display:grid;
  height:100%;
  grid-template-rows: 10px, 20px, 1fr, 10px;
  grid-template-areas: 
  "hd"
  "nav"
  "main"
  "ft";
  grid-auto-rows: minmax(1fr,auto);
  border: 2px solid red;
  gap: 10px;
  padding: 10px;
}

/*For big and medium screens*/
/*3 rows, nav on left small, small header and footer*/
@media (min-width:600px) {
  .container{
    display:grid;
    height:100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 10px, repeat(10, 1fr);
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "nav main main main main main main main"
    "ft ft ft ft ft ft ft ft";
    grid-auto-rows: minmax(1fr,auto);
    border: 2px solid red;
    gap: 10px;
    padding: 10px;
    
  }
}


/*For small screens*/
/*blog previews are 1 accross*/
.blogprecontainer{
  display:grid;
  border: 2px solid lawngreen;
  grid-auto-rows: minmax(1fr,auto);
  grid-area: main;
  grid-template-columns: 1fr; 
}

/*For medium screens*/
/*blog previews are 2 accross*/
@media (min-width: 600px) and (max-width:900px) {
  .blogprecontainer{
    display:grid;
    border: 2px solid lawngreen;
    grid-auto-rows: minmax(1fr,auto);
    grid-area: main;
    grid-template-columns: 1fr 1fr; 
  }
}

/*For big screens*/
/*blog previews are 3 accross*/
@media (min-width:901px) {
  .blogprecontainer{
    display:grid;
    border: 2px solid lawngreen;
    grid-auto-rows: minmax(1fr,auto);
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr; 
  }
}

/*Flex container for each blog preview*/
.blogpreview {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-flow:row wrap;
  border: 2px solid black;
}

/*Grid container for the actual blog post*/
/*No columns unlike the blogprecontainer*/
.blogcontainer {
  grid-area: main;
  border: 2px solid black;
}

/*Grid container for the navigation options*/
.navcontainer{
  border: 2px solid rgb(255, 100, 178);
  grid-area: nav;
}

/*Flex container for each navigation option*/
.navcontent{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid purple;
} 

/*Simple grid container for the header*/
.header{
  border: 2px solid rgb(0, 132, 255);
  grid-area:hd;
}

/*Simple grid container for the footer*/
.footer{
  border: 2px solid rgb(250, 144, 5);
  grid-area: ft;  
}