/*Main contianer for the page*/

/*For small screens*/
/*1 column with header, nav, main, and footer as rows*/
.container{
  display:grid;
  height:100%;
  grid-template-rows: 10px, 20px, 1fr, 10px;
  grid-template-areas: 
  "hd"
  "nav"
  "main"
  "ft";
  grid-auto-rows: minmax(1fr,auto);
  border: 2px solid red;
  gap: 10px;
  padding: 10px;
}

/*For big and medium screens*/
/*3 rows, nav on left small, small header and footer*/
@media (min-width:600px) {
  .container{
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 10px, repeat(10, 1fr);
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "nav main main main main main main main"
    "ft ft ft ft ft ft ft ft";   
  }
}

/*For big and medium screens, navigation in multiple rows*/
.nav-container{
  border: 2px solid rgb(255, 100, 178);
  grid-area: nav;
}

/*Grid container for the navigation options*/
/*For small screens, just one row with 3 columns*/
@media (max-width:600px) {
  .nav-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*Flex container for each navigation option*/
.nav-content{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: left;
  border: 2px solid purple;
} 

/*Simple grid container for the header*/
.header{
  border: 2px solid rgb(0, 132, 255);
  text-align: center;
  grid-area:hd;
}

/*Simple grid container for the footer*/
.footer{
  border: 2px solid rgb(250, 144, 5);
  grid-area: ft;  
}

.box {
  border-radius: 15px;
  text-align: center;
  object-position: center;
  margin: 10px;
  padding: 10px;
}